<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
<!-- <link rel="icon" href="../../assets/images/rdv-bruh.png" type="image/png"> -->
<!-- <link rel="shortcut icon" href="../../assets/images/rdv-bro.ico" type="img/x-icon"> -->
<title>User Login</title>
<!-- <script type="text/javascript" src="/scripts/checkAndOut.js"></script> -->


  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,600" rel="stylesheet">
<link rel="icon" href="../../../assets/images/FIFA.jpg" type="image/png">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
<link rel="stylesheet" href="/css/admin/login-select.css">
<link rel="stylesheet" href="/css/admin/loginStyle.css">
<link rel="stylesheet" href="/css/admin/button.css">
      <!-- <link href="../../../styles/bootstrap.css"> -->
</head>
<body>

  <!-- Navbar -->
    <div class="container">
   <section id="formHolder">
      <div class="row">
         <!-- Brand Box -->
         <div class="col-sm-6 brand">
            <a href="/" class="logo"> <span></span></a>
            <div class="heading">
               <h2>IPL AUCTION</h2>
            </div>
            <!-- <div class="success-msg">
               <p>Great! You are one of our members now</p>
               <a href="#" class="profile">Your Profile</a>
            </div> -->
         </div>
         <!-- Form Box -->
         <div class="col-sm-6 form">
            <!-- Login Form -->
            <div class="login form-peice ">
               <form class="login-form" id="loginform" onSubmit="myuserlogin();return false;" >
                  <div class="form-group">
                     <label for="email">Email Adderss</label>
                     <input type="email" name="email" id="loginemail" required>
                  </div>

                  <div class="form-group">
                     <label for="loginPassword">Password</label>
                     <input type="password" name="password" id="loginPassword" required>
                  </div>

                  <div class="CTA">
            <button type="submit"  class="slide" value="">Log In</button>
               </form>
            </div>
            
            </div><!-- End Signup Form -->
         </div>
      </div>
<script type="text/javascript">
function handle(e){
console.log(e)
if(e.value=="other"){
var el = document.getElementById("col");
el.style.display = "block";
  }else{
  var el = document.getElementById("col");
el.style.display = "none";
  }

  //alert(e)
}
 function myuserlogin(){
      var formdata = {};
      $.each($('#loginform').serializeArray(), function(_, kv) {
        formdata[kv.name] = kv.value;
      });
      $.post("/login",formdata)
      .done((data,status)=>{
            localStorage.setItem('USERPORTAL',JSON.stringify(data.user));
            localStorage.setItem('TRYSTAUCTION', data.token);
            console.log(status);
            if(data.error)
              alert(data.message);
            else{
              console.log("revert");
              console.log(data);
              window.location.href = "/userportal";
            }
      }).fail((jqXHR, textStatus, errorThrown)=>{
        alert(jqXHR.responseJSON.message);
      })
 }
  function myfunk(){
       var formdata = $('form#subform').serializeArray();
       var paramObj = {};
      $.each($('#subform').serializeArray(), function(_, kv) {
        paramObj[kv.name] = kv.value;
      });
      var ret = false;


        $.post("/signup",paramObj)
        .done(function(data,status){
            console.log(data);
            localStorage.setItem('USER',JSON.stringify(data.user));
            localStorage.setItem('RDV', data.token);
            console.log(status);
           if(data.error)
            alert(data.message);
           else
            window.location.href = "/manager";
        }).fail(
        function(jqXHR, textStatus, errorThrown) {
          //$("#error").html(jqXHR.responseText);
            console.log(textStatus);
            console.log(errorThrown);
            console.log(jqXHR.responseJSON);
            if(jqXHR.responseJSON.error){
              if(jqXHR.responseJSON.message=="Email Verification Required"){
                alert("An email containing OTP has been sent.Please fill the OTP in form")
              }else
              alert(jqXHR.responseJSON.message);
            }
            if(jqXHR.responseJSON.message=="Email Verification Required"){
              ret = false;
            }
        });
/*
       var otp = document.getElementById("otp");
       if(!(otp.style.display == "none"))
         ret = true;
       otp.style.display = "block";
       console.log(ret);
*/
       return false;
  }
</script>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="z-index: 11000; vertical-align: middle;">
  <div class="modal-dialog modal-dialog-centered" role="document" style="position:absolute;top:50%;transform:translateY(-50%) translateX(-50%);left:50%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <main class="mainn" >
   <br>
   <p style="align-self: center;">OTP

   <input type="text"  id="otp" name="otp" placeholder="OTP" required>
</p>
<br>

</main>
      </div>
      <div class="modal-footer">
        <div class="signup">
         <form class="signup-form">
        <button type="submit" class="btn btn-primary ptn" data-dismiss="modal">Register</button>
      </form>
      </div>
      </div>
    </div>
  </div>
</div>


  <!-- Footer Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script  src="/scripts/admin/login.js"></script>
<!-- <script type="text/javascript"> check();</script> -->

</body>
</html>
